<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registration</title>
</head>
<body style="text-align:center; background-image:url('https://media.istockphoto.com/id/1191960287/photo/abstract-white-music-background-musical-notes-and-symbols-for-christmas-carol.jpg?s=2048x2048&w=is&k=20&c=iMIwdzJgoT1blV96MmNoq0qfjf9dCJofPJVqc4iyIY4=')">
<h1>Congrats!!! Account Created Successfully</h1>
<h3>Sign into your Account</h3>
 <form action="/login" method="post">
     
        <label>Email Id: <input  name="email" type="email" required /></label><br><br>
        <label >Password: <input  name="password" type="password"  required /></label><br><br>
    
     <button>Login</button>
     </form>
</body>
</html>