<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body style="text-align:center; background-image:url('https://media.istockphoto.com/id/1191960287/photo/abstract-white-music-background-musical-notes-and-symbols-for-christmas-carol.jpg?s=2048x2048&w=is&k=20&c=iMIwdzJgoT1blV96MmNoq0qfjf9dCJofPJVqc4iyIY4=')">
<h3>Email Id is already registered. Please try again..</h3>
<form action="/register" method="post">

  <section><label>User Name:</label>
  <input type="text" name="username" required> </section><br><br>
  
  <section><label>Email:</label>
  <input type="email" name="email" required></section><br><br>
  
  <section><label>Password:</label>
  <input type="password" name="password" required></section><br><br>
   <section>
  <label>Gender:</label>
    M<input type="radio"  value="Male" name="gender">
    F<input type="radio"  value="Female" name="gender">
    O<input type="radio"  value="Others" name="gender"></section>
     <br><br>
      
       
    <section>   <label>Role:</label>
  <input type="radio"  value="admin" name="role">Admin
    <input type="radio"  value="customer" name="role">Customer</section> 
   <br><br>
        
        
    <label for="address">Address:</label><br>
    <textarea name="address" cols="30" rows="4"></textarea><br><br>
     <br>
         
         <button>Register</button>
       
  </form>
      
      
</body>
</html>