<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Adding Songs</title>
</head>
<body style="background-image:url('https://media.istockphoto.com/id/1191960287/photo/abstract-white-music-background-musical-notes-and-symbols-for-christmas-carol.jpg?s=2048x2048&w=is&k=20&c=iMIwdzJgoT1blV96MmNoq0qfjf9dCJofPJVqc4iyIY4='); text-align:center;">
 <h1>This song already Exists.Please try again.</h1>
 <form action="/map-addsongs" method="post">
    <label>Song Name:</label>
    <input type="text" name="name"><br><br>
    
    <label>Song Artist:</label>
    <input type="text" name="artist"><br><br>
    
    <label>Song Genre:</label>
    <input type="text" name="genre"><br><br>
    
    <label>Song Link:</label>
    <input type="text" name="link"><br><br>
    
    <input type="submit" value="ADD SONGS">


</form>
</body>
</html>