<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>View PlayList</title>
</head>
<body style="background-image:url('https://media.istockphoto.com/id/1191960287/photo/abstract-white-music-background-musical-notes-and-symbols-for-christmas-carol.jpg?s=2048x2048&w=is&k=20&c=iMIwdzJgoT1blV96MmNoq0qfjf9dCJofPJVqc4iyIY4='); text-align:center;">
<table border>
   <thead>
    <tr>
    
     <th>PlayList NAME</th>
     <th>PlayList SONGS</th>
    </tr>
    </thead>
    
    <tbody>
      <tr th:each ="pl: ${plist}">
         <td  th:text=" ${pl.name}"></td>
         <td>
             <ul>
                 <li th:each="s: ${pl.songs}">
                 <span th:text="${s.name}"></span>
                    <audio controls>
                        <source th:src="${s.link}" type="audio/mpeg">
                    </audio>
                  </li>
             </ul>
    </td>
    
    
    </tr> 
     </tbody>
  
</table>
</body>
</html>